<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>


<body>
    
    
    <!-- <div class="form-box">
        <form method="post" name="login">
            <input type="text" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="password">
            <input type="submit" value="Login">
        </form>
    </div> -->

    <div class="container">
        <div class="left"></div>
        <div class="right"></div>
    </div>







    <% /* %>
        <%- include(page-partials/scripts.ejs) -%>
    <% */ %>

    <script src="js/home.js"></script>

</body>